DATABASE_URL=postgresql+asyncpg://<user>:<password>@<host>:5432/<db_name>?sslmode=require
ADMIN_TOKEN=ton_token_admin_super_secret
RESTAURANT_LAT=43.610769
RESTAURANT_LNG=3.876716
DELIVERY_BASE_FEE=2.0
DELIVERY_PER_KM_FEE=1.0
